dataset_name: squad
model_name: bert-base-uncased

max_length: 384
doc_stride: 128

num_train_samples: null  #87599
num_eval_samples: null  #10570
num_train_epochs: 2

per_device_train_batch_size: 8
per_device_eval_batch_size: 8
learning_rate: 0.00003
num_train_epochs: 1
seed: 42

run_name: "2026-02-11_bert_base_lr3e-5_bs8_e2"

output_subdir: "runs"   # MODELS_DIR/runs/<run_name>
save_best_to: "best"    # MODELS_DIR/best

mlflow_experiment: "bert_squad"
mlflow_tracking_uri: ""
